	<div class="class-item">
		<div class="class-spots">
			<h1 class="spots-icon">{{avail}}</h1>
			
			<h4 class="darkOrange">SPOTS LEFT</h4>
		</div>

	<div class="class-item-body"> 
		 <h3>{{name}} - {{time}}</h3>
		 <p class="class-item-desc">{{desc}}</p>
		 <p>Instructor: {{instructor}}</p>
		 </div>


	<div class="class-item-button">

		 
		<button class="class" data-id="{{id}}">
			<span class="glyphicon glyphicon-ok white"></span>
 
	</button>
	<h4 class="darkOrange">ADD CLASS</h4>



</div>
</div>