	<div class="class-item" id="pop-modal" data-toggle="modal">
		<div class="class-spots">
			<h1 class="spots-icon">{{enrolledPpl}}</h1>
			
			<h4 class="darkOrange">SPOTS LEFT</h4>
		</div>
	
	<div class="class-item-body"> 
		 <h3>{{className}} - {{startTime}}</h3>
		 <p class="class-item-desc">{{description}}</p>
		 <p>Instructor: {{instructorID}}</p>
		 </div>


	<div class="class-item-button" data-item="{{id}}">

		 
		<button class="class" data-class="{{className}}" data-id="{{id}}" id="submitClass">
			<span class="glyphicon glyphicon-ok white"></span>
 		
		</button>
		<h4 class="darkOrange" id="added{{id}}">ADD CLASS</h4>



	</div>
</div>
