<!-- Modal -->
<div class="modal fade" role="dialog" data-toggle="modal" id="instModal{{id}}" data-target="#instModal{{id}}">
<div class="modal-dialog">
				
<!-- Modal content-->
<div class="modal-content">
		
	<button id="inst-modal-close-btn" type="button" class="close" data-dismiss="instModal">&times;</button> 
		
	
		<div class="modal-body">
				
		<div class="inst-modal-img">
		<img src="{{img}}" alt="" >				
		</div>

		<h1>{{name}}</h1>
		<h2>{{classes}}</h2>

		<p>{{bio}}</p>
		<div class="modal-footer center-content">

		<button id="closeWindow" class="btn btn-basic" type="button" class="btn btn-default" data-dismiss="instModal">Close</button>
			</div>
				</div>
				
			</div>
		</div>